<div class="bg-light dark:bg-transparent min-vh-100 d-flex flex-row align-items-center">


  <c-container breakpoint="md" >
    <c-row class="justify-content-center">
      <c-col lg="7">
        <c-card class="card-worker">
          <c-card-body class="card-worker-body">
            <div class="card-worker-text"  [@fadeIn]>
              <h1>La plataforma de monitoreo inteligente</h1>
              <p>Skylink te conecta con la energía de tu empresa. En tiempo real, sin complicaciones.</p>
            </div>
          </c-card-body>
        </c-card>
      </c-col>
      <c-col lg="5">
        <c-card class="card-login">
          <c-card-header class="card-login-header text-center p-4">
            <img src="/assets/images/Login/skylink.svg" width="50%" >
          </c-card-header>
          <c-card-body class="card-body-login text-center">
              <form cForm>
                <h1>Inicia sesión</h1>
                <!-- <p class="text-body-secondary">Accede a tu cuenta</p> -->
                <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <svg cIcon name="cilUser"></svg>
                  </span>
                  <input autoComplete="username" cFormControl placeholder="Correo electrónico" #iCorreo />
                </c-input-group>
                <c-input-group class="mb-4">
                  <span cInputGroupText>
                    <svg cIcon name="cilLockLocked"></svg>
                  </span>
                  <input autoComplete="current-password" cFormControl placeholder="Contraseña" type="password" #iPssw />
                </c-input-group>
                <c-row>
                  <c-alert *ngIf="_intentoFallido" color="danger">Usuario o contraseña no válidos.</c-alert>
                </c-row>
                <c-row>
                  <c-col xs="6">
                    <button cButton *ngIf="!_iniciandoSesion" class="px-4" color="primary"
                      (click)="mIntentarAcceder(iCorreo.value,iPssw.value)">
                      Iniciar sesión
                    </button>
                    <button cButton *ngIf="_iniciandoSesion" class="px-4" color="primary" disabled>
                      <c-spinner aria-hidden="true" size="sm" />
                      Iniciando sesión...
                    </button>
                  </c-col>
                  <c-col class="text-right" xs="6">
                    <button cButton class="px-0" color="link">
                      <a href="#/restablecer">
                        Olvidé mi contraseña
                      </a>
                    </button>
                    <button cButton class="px-0" color="link">
                      <a href="#/registrar">
                        Registrarse
                      </a>
                    </button>
                  </c-col>
                </c-row>
              </form>
            </c-card-body>
        </c-card>
      </c-col>
    </c-row>
  </c-container>
</div>