<c-card class="mb-1">
  <c-card-body>
    <div style="display: flex; justify-content: space-between;">
      <div style="display: flex;">
        <img class="imagenCliente" appDefaultImg [src]="_Cliente?.sImagenCliente ?? ''">
        <div>
          <div>{{ _Cliente?.cClienteInfo?.nombre ?? "" }}</div>
          <div>Email: {{ _Cliente?.cClienteInfo?.correo ?? "" }}</div>
          <div>Teléfono: {{ _Cliente?.cClienteInfo?.telefono ?? "" }}</div>
        </div>
      </div>

      <div class="d-float-right">
        <div>Instalaciones ({{ _Cliente?.arrInstalaciones?.length ?? "0" }})</div>

        <div>
          <select cSelect
                  (ngModelChange)="SelectOnChangeById($event)"
                  [(ngModel)]="_valorSeleccionadoInstalacionId">
            <option *ngFor="let ins of _Cliente?.arrInstalaciones ?? []"
                    [value]="ins.idInstalacion">
              {{ ins.sNombreInstalacion }}
            </option>
          </select>
        </div>

        <div>
          <button cButton size="sm" color="primary" (click)="_modalNewInstVisible=true"><svg [cIcon]="iconos.cilPlus" class="me-2"></svg> Nueva Instalación</button>
        </div>
      </div>
    </div>

    <c-nav variant="underline-border">
      <c-nav-item>
        <a cNavLink routerLinkActive="active"
           [routerLink]="[_valorSeleccionadoInstalacionId, 'Instalaciones']">
          <svg [cIcon]="iconos.cilFactory" class="me-2"></svg>
          Instalación
        </a>
      </c-nav-item>

      <c-nav-item>
        <a cNavLink routerLinkActive="active"
           [routerLink]="[_valorSeleccionadoInstalacionId, 'InstalacionInfo']">
          <svg [cIcon]="iconos.cilInfo" class="me-2"></svg>
          Información
        </a>
      </c-nav-item>

      <c-nav-item>
        <a cNavLink routerLinkActive="active"
           [routerLink]="[_valorSeleccionadoInstalacionId, 'Estadisticas']">
          <svg [cIcon]="iconos.cilChartLine" class="me-2"></svg>
          Estadísticas
        </a>
      </c-nav-item>

      <c-nav-item *ngIf="_valorSeleccionadoInstalacion?.iTipoProyecto === 2 ||
                         _valorSeleccionadoInstalacion?.iTipoProyecto === 3">
        <a cNavLink routerLinkActive="active"
           [routerLink]="[_valorSeleccionadoInstalacionId, 'Baterias']">
          <svg [cIcon]="iconos.cilBatteryFull" class="me-2"></svg>
          Baterías
        </a>
      </c-nav-item>

      <c-nav-item>
        <a cNavLink routerLinkActive="active"
           [routerLink]="[_valorSeleccionadoInstalacionId, 'Reportes']">
          <svg [cIcon]="iconos.cilDescription" class="me-2"></svg>
          Reportes
        </a>
      </c-nav-item>

      <c-nav-item>
        <a cNavLink routerLinkActive="active"
           [routerLink]="[_valorSeleccionadoInstalacionId, 'Recibos']">
          <svg [cIcon]="iconos.cilBook" class="me-2"></svg>
          Recibos
        </a>
      </c-nav-item>

      <c-nav-item>
        <a cNavLink routerLinkActive="active"
           [routerLink]="[_valorSeleccionadoInstalacionId, 'Documentos']">
          <svg [cIcon]="iconos.cilFolder" class="me-2"></svg>
          Documentos
        </a>
      </c-nav-item>
    </c-nav>

  </c-card-body>
</c-card>

<router-outlet></router-outlet>

<c-modal [visible]="_modalNewInstVisible" size="xl" title="Nueva Instalación"
         [scrollable]="true" [backdrop]="'static'" [keyboard]="false">
  <c-modal-header>
    <h5 class="modal-title">Nueva Instalación</h5>
    <button cButton type="button" class="btn-close" aria-label="Close"
            (click)="_modalNewInstVisible = false">
    </button>
  </c-modal-header>
  <c-modal-body>
    <app-info-instalacion-form (guardar)="GuardaInfoInstalacion($event)"></app-info-instalacion-form>
  </c-modal-body>
</c-modal>
