
<c-chart #chartRef1
  type="line"
  [data]="{
    labels: chartLabels[0],
    datasets: [
      {
        label: 'Batería 1',
        data: chartData[0],
        fill: false,
        borderColor: 'rgb(75, 192, 192)',
        tension: 0.1
      }
    ]
  }"
  [options]="{ responsive: true, scales: { y: { beginAtZero: true } } }">
</c-chart>
<c-chart #chartRef2
  type="line"
  [data]="{
    labels: chartLabels[1],
    datasets: [
      {
        label: 'Batería 2',
        data: chartData[1],
        fill: false,
        borderColor: 'rgb(75, 192, 192)',
        tension: 0.1
      }
    ]
  }"
  [options]="{ responsive: true }">
</c-chart>
<c-chart #chartRef3
  type="line"
  [data]="{
    labels: chartLabels[2],
    datasets: [
      {
        label: 'Batería 3',
        data: chartData[2],
        fill: false,
        borderColor: 'rgb(75, 192, 192)',
        tension: 0.1
      }
    ]
  }"
  [options]="{ responsive: true }">
</c-chart>
<c-chart #chartRef4
  type="line"
  [data]="{
    labels: chartLabels[3],
    datasets: [
      {
        label: 'Batería 4',
        data: chartData[3],
        fill: false,
        borderColor: 'rgb(75, 192, 192)',
        tension: 0.1
      }
    ]
  }"
  [options]="{ responsive: true }">
</c-chart>
<c-chart #chartRef5
  type="line"
  [data]="{
    labels: chartLabels[4],
    datasets: [
      {
        label: 'Batería 5',
        data: chartData[4],
        fill: false,
        borderColor: 'rgb(75, 192, 192)',
        tension: 0.1
      }
    ]
  }"
  [options]="{ responsive: true }">
</c-chart>
<c-chart #chartRef6
  type="line"
  [data]="{
    labels: chartLabels[5],
    datasets: [
      {
        label: 'Batería 6',
        data: chartData[5],
        fill: false,
        borderColor: 'rgb(75, 192, 192)',
        tension: 0.1
      }
    ]
  }"
  [options]="{ responsive: true }">
</c-chart>
<c-chart #chartRef7
  type="line"
  [data]="{
    labels: chartLabels[6],
    datasets: [
      {
        label: 'Batería 7',
        data: chartData[6],
        fill: false,
        borderColor: 'rgb(75, 192, 192)',
        tension: 0.1
      }
    ]
  }"
  [options]="{ responsive: true }">
</c-chart>
<c-chart #chartRef8
  type="line"
  [data]="{
    labels: chartLabels[7],
    datasets: [
      {
        label: 'Batería 8',
        data: chartData[7],
        fill: false,
        borderColor: 'rgb(75, 192, 192)',
        tension: 0.1
      }
    ]
  }"
  [options]="{ responsive: true }">
</c-chart>
<c-chart #chartRef9
  type="line"
  [data]="{
    labels: chartLabels[8],
    datasets: [
      {
        label: 'Batería 9',
        data: chartData[8],
        fill: false,
        borderColor: 'rgb(75, 192, 192)',
        tension: 0.1
      }
    ]
  }"    
  [options]="{ responsive: true }">
</c-chart>
